@import 'global';

.after-participation {
    @extend %g__contents-block;

    &__text-line {
        margin-bottom: 12px;
    }

    &__title {
        display: inline-block;
        width: 80px;
    }

    &__my-name {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        width: 120px;
    }

    &__logout {
        display: inline-block;
        margin-left: 24px;
    }
}
