@import 'global';

.participants-status {
    @extend %g__contents-block;
    float: left;

    &__list-container {
        @extend %g__border-normal;
        max-height: 120px;
        overflow-y: auto;
        width: 260px;
    }

    &__list {
        padding: 6px;
    }

    &__list-line {
        line-height: 1.5;
    }
}
