@charset "utf-8";

/*
* このアプリケーション独自のでデフォルトのスタイルを適用するcss
*/

body {
    color: #54636e;
    font-family: 'Meiryo', 'Meiryo UI', 'Yu Gothic', 'YuGothic', sans-serif;
    font-size: 16px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}
